body {
    background-image:url(../images/wideShotOfShowRoomTaghavi.jpg); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    font-weight: 600;
    background-position-y: -50px;
}



#timer {
    color: red;
    background-color: burlywood;
    border-color: red;
    border-width: thick;
    border-style: solid;
    font-size: xx-large;

}

.col-sm-11 {
    background-image: url(../images/Dad&HabibRugRepairPic.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    /* color: rgb(1, 237, 241); */
    color:AliceBlue ;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    text-decoration-line: underline;
    font-weight: 900;
    border: red;
    border-style: ridge;
    border-width: 10px;

}


.jumbotron {
    text-align: center;
    color: red;
    background: springgreen;
    opacity: 0.7;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 1200;
    font-style: italic;
    
}

#scoreBoard {
    text-align: center;
    color: red;
    border: 7px;
    border-color: red;
    border-style: ridge;
    font-weight: bolder;
    font-size: x-large;
    background:burlywood;
    opacity: 0.8;
}